@import "compass/reset";
@import "compass/css3";

body{
    color: #333; 
    font-size: 14px; 
    line-height: 24px;
    background: #fff;
}

a{
    color: #0066ff; 
    text-decoration: none;
}

// pre ======> css,js,html
pre{
    display: block; 
    color: #fff; 
    font-size: 14px;
    line-height: 24px; 
    padding: 20px; 
    border:1px solid #cecece; 
    background: #000; 
    margin-bottom: 30px;
    @include border-radius(6px);
    display: none\9;
    word-wrap: break-word;
}

// 
.main{
    width: 1190px; 
    margin: 0px auto; 
    padding: 30px 0px 200px;
}

// title
.hiTitle{ 
    height: 50px;
    color: #333; 
    font-size: 36px; 
    line-height: 50px; 
    text-align: center; 
    margin-bottom: 20px;
    @include text-shadow(0px 0px 6px #666); 
}

// block message
.hiBlock{
    padding: 20px;
    background: #efefef;
    margin-bottom: 10px;
    @include border-radius(6px);
}