<!doctype html>
<html lang="cn">
<head>
    <meta charset="UTF-8">
    <title>布局</title>
    <link rel="stylesheet" href="../../css/base.css">
    <link rel="stylesheet" href="../../css/demo/layout3.css">
    <style>.main{width: auto; min-width: 640px; overflow: hidden;}</style>
</head>
<body>
    <div class="main">
        <div class="hiTitle">左右两侧固定中部自适应</div>
        <div class="hiBlock">
            左右两侧固定（200px），中部自适应，主体最小宽度640px。
        </div>
        <pre data-type="css">
            .layout{
                background: #dd33dd;
                padding: 20px;
                min-width: 600px;
                margin-bottom: 100px;
                overflow: hidden;
                .laylt{
                    float: left;
                    width: 180px;
                    padding: 10px;
                    background: #f00;
                }
                .layrt{
                    float: right;
                    width: 180px;
                    padding: 10px;
                    background: #0ff;
                }
                .layblock{
                    padding: 10px;
                    background: #f60;
                    margin: 0px 200px; 
                }
            }
        </pre>
    </div>
    <div class="layout">
        <div class="laylt">左侧固定(副区)</div>
        <div class="layrt">
            右侧固定(副区)
        </div>
        <div class="layblock">
            中部自适应(主区)<br>
            中部自适应(主区)<br>
            中部自适应(主区)<br>
            中部自适应(主区)<br>
            中部自适应(主区)<br>
            中部自适应(主区)
        </div>
    </div>
    <script src="../../hilight.js"></script>
</body>
</html>