@import "compass/css3";

.appLayCode{
    position: fixed;
    right: 0px;
    bottom: 0px;
    width: 280px;
    height: 280px;
}

.phoneBg{
    width: 280px;
    height: 520px;
    padding: 0px 20px 0px; 
    border: 3px solid #333;
    @include border-radius(20px);
    margin: 0px auto;
    overflow: hidden;
    background: #fff;
}
.phoneTop{
    position: relative;
    height: 40px;
    label{
        position: absolute;
        top: 0px;
        left: 50%;
        display: block;
        width: 80px;
        height: 8px;
        margin-left: -40px;
        border: 2px solid #333;
        border-top: none;
        @include border-radius(0px 0px 8px 8px);
    }
    span{
        position: absolute;
        top: 10px;
        right: 4px;
        width: 4px;
        height: 6px;
        border: 6px solid #f1f1f1;
        @include border-radius(20px);
        background: #666;
    }
}
.phone{
    height: 420px;
    color: #141414;
    border: 1px solid #333;
    overflow: hidden;
}
.phoneNav{
    padding: 8px 10px;
    color: #666666;
    text-align: center;
    border-bottom: 1px solid #c0c0c0;
    background: #f5f5f5;
    overflow: hidden;
    span{
        //float: left;
        display: inline-block;
        font-size: 12px;
        line-height: 16px;
        padding: 1px 6px;
        @include border-radius(6px);
        margin: auto 6px;
        &.on{
            color: #3300dd;
            background: #f1fefe;
        }
    }
}
.phoneBlock{
    font-size: 12px;
    .block{
        float: left;
        width: 100%;
        background: #f0f0f0;
    }
    .item{
        padding: 10px 10px;
        border-bottom: 1px solid #d8d8d8;
        @include box-shadow(0px 1px 1px #f9f9f9);
    }
}
.phoneBtm{
    
}

.animated {
    -webkit-animation-duration: 0.3s;
    -webkit-animation-fill-mode: both;
    animation-duration: 0.3s;
    animation-fill-mode: both;
}

.animatedDelay0{
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
} 
.animatedDelay1{
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
} 
.animatedDelay2{
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
} 
.animatedDelay3{
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
} 
.animatedDelay4{
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
} 
.animatedDelay5{
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
} 
.animatedDelay6{
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
} 
.animatedDelay7{
    -webkit-animation-delay: 0.7s;
    animation-delay: 0.7s;
} 
.animatedDelay8{
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
} 
.animatedDelay9{
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
} 
.animatedDelay10{
    -webkit-animation-delay: 1.0s;
    animation-delay: 1.0s;
} 

.fadeinrightbig{
    -webkit-animation-name: fadeinrightbig;
    animation-name: fadeinrightbig;
}
@-webkit-keyframes fadeinrightbig {
    0% {
        opacity: 0;
        -webkit-transform: translatex(2000px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translatex(0);
    }
}
@keyframes fadeinrightbig {
    0% {
        opacity: 0;
        transform: translatex(2000px);
    }
    100% {
        opacity: 1;
        transform: translatex(0);
    }
}


