.layout{
    background: #dd33dd;
    padding: 20px;
    min-width: 600px;
    margin-bottom: 100px;
    overflow: hidden;
    .laylt{
        float: left;
        width: 180px;
        padding: 10px;
        background: #f00;
    }
    .layrt{
        float: right;
        width: 180px;
        padding: 10px;
        background: #0ff;
    }
    .layblock{
        padding: 10px;
        background: #f60;
        margin: 0px 200px; 
    }
}